<!DOCTYPE html>
<html>
    <title>
        <meta charset="UTF-8">
        <title>My Score</title>
    </title>
    <body>
        <h2>HTML Forms</h2>
        <!--To study how to build URL Dynamically-->
        <form action="/getresult" method='post'>
            <label for="science">Science:</label>
            <input type="text" id="science" name="science" value="0"><br>
            <label for="maths">Maths:</label>
            <input type="text" id="maths" name="maths" value="0"><br>
            <label for="c">C:</label>
            <input type="text" id="c" name="c" value="0"><br>
            <label for="datascience">Science:</label>
            <input type="text" id="datascience" name="datascience" value="0"><br>
            <input type="submit" value="Submit">
        </form>
        <p>If you click the "Submit" button, the form-data will be sent to a page called "/submit"</p>
    </body>
</html>